numba==0.59.0
pycocotools==2.0.7
tensorboard==2.15.1
tqdm==4.66.4
open_clip_torch==2.30.0
torchmetrics==1.6.1
accelerate==1.6.0
datasets==3.5.0
torch==2.6.0
torchvision==0.21.0
numpy==1.26.2
supervision==0.17.1
Pillow==10.3.0
orjson==3.10.18
transformers==4.51.3
lightning==2.5.1.post0